:root{
	--navbar-color: white;
	--p4: grey;
	--p3: yellow;
	--p2: orange;
	--p1: red;
	--color1: blueviolet;
	--color2: blue;
	--color3: brown;
	--color4: teal;
	--color5: orange;
	--color6: crimson;
}

/*mobile design*/
/*@media only screen and (max-width: 450px){/*640px*/

body{
	padding:0px;
	margin:0px;
	width:100%;
}
p{
	padding:0;margin:0;
}
header, #list li{
	padding-left: 5%;
}
header{
	color: white;
	
	background-image: url(assets/mountains2.jpeg);
	background-repeat:  no-repeat;
	background-size: 100% 100%;
	padding-top: 6em;/*3*/
	padding-bottom: 1em;
	background-position-y: 40px;
	
}

header #project{
	margin-top: 0px;
	font-size: 1em;
	margin-bottom: 0px;
}
header #date{
	font-size: 1em;
}
#AddTaskButton{
	font-size: 30px;
	background-color: var(--navbar-color);
	text-align: center;
	width:40px;
	height:40px;
	position: fixed;
	bottom: 5%;
	right:5%;
	color:white;
	border-radius: 20px;
	cursor: pointer;
}
#taskForm{
	margin-left: 10%;/*2em*/
	margin-bottom: 4em;
}
#selectPriority{
	margin-left: 24%;
}
#list{
	list-style: none;
	margin-top: 0px;
	padding-left: 0px;
}
#list li{
	font-size: 1em;
	background-color: white;
	border-bottom: 1px solid #DCDBDA;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	
}

.taskStatus{
	width:15px;height:15px;
	margin-right: 1em;
	border:1px solid grey;
	border-radius: 10px;
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
}

.clearfix{
	overflow: auto;
}
.todo p{
	display: inline-block;
	font-size: 15px;
	vertical-align: middle
}
.todo p+p{
	font-size: 12px;
	color: grey;
}
.navbar {
    width: 100%;
    background-color: var(--navbar-color);
    position: fixed;
    height: 2.5em;
    z-index: 2;
}
#settings-icon{
	position: fixed;		
	top:0.4em;
	right:1em;;
	color:white;
	cursor: pointer;
}
.settingsMenu {
    width: 35%;
    position: absolute;
    right: 0;
    background-color: white;
    border-radius: 5px;
    padding: 1em;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.4);
    display: none;
}
#trash-bin-icon, #remove p{
	color: grey;
}
#remove{
	cursor: pointer;
}
#trash-bin-icon{
	font-size: 1.2em;
	display: inline-block;
	vertical-align: text-bottom;
}
#remove p{
	font-size: 0.8em;
	display: inline-block;
}
#menu h4{
	margin-left: 2em;
	text-decoration: underline;
}
#logo{
	display: none;
	margin-left: 5%;
	margin-top: 0.5em;
}
#menu-button{
	width: 50px;
	cursor: pointer;
	padding-top: 0.7em;
	padding-bottom: 0.7em;
	display: block;
}
#menu-button div:nth-child(-n+3) {
    width: 1.5em;
    height: 2px;
    background-color: white;
    margin-top: 4px;
    margin-left: 1em;
}
#menu{
	
	background-color: white;
    color: black;
    width: 97%;
    display: none;
    box-shadow: 5px 7px 10px #888888;
    position: fixed;
    padding-top: 2.5em;
    overflow-y: scroll;
    height:300px;/*500px*/
    z-index: 1;
    padding-bottom:100px;
}
#menu ul{
	list-style: none;
}
#menu ul li{
	padding-top: 8px;
	padding-bottom: 8px;
	cursor: pointer;
}
#menu ul, #AddProject{
	padding-left: 2.5em;
}
#AddProject{
	color: var(--navbar-color);
}
#AddProject span{
	font-weight: bold;
	cursor: pointer;
}
#AddProject a{
	margin-left: 1em;
	text-decoration: none;
	color: var(--navbar-color);
	font-size: 15px;
}
#AddProject a:hover{
	text-decoration: underline;
}
#projectForm{
	padding-left: 2em;
	margin-right: 2em;
	display: none;
}
.p1Color{
	border:2px solid var(--p1);
	background-color:rgba(219, 26, 52,0.2);
}
.p2Color{
	border:2px solid var(--p2);
	background-color:rgba(244, 166, 9,0.2);
}
.p3Color{
	border:2px solid var(--p3);
	background-color:rgba(249, 249, 84,0.2);
}
.p4Color{
	border:2px solid var(--p4);
	background-color:rgba(229, 229, 222,0.2);
}
.formButton{
	background-color: var(--navbar-color);
	color:white;
	border: none;
	margin-top: 0.5em;
	margin-right: 1em;
	margin-bottom: 2em;
	border-radius: 5px;
	padding: 0.7em 0.8em 0.7em 0.8em;
	font-weight: bold;
	cursor:pointer;
	font-size: 13px;
}
/*
#projectTextBox{
	height: 35px;
	border: 0.5px solid rgb(211, 205, 205);
	border-radius: 4px;
	width: 80%;
	padding-left: 1em;
}*/
.formTextInput{
	height: 35px;
	border: 0.5px solid rgb(211, 205, 205);
	border-radius: 4px;
	width: 95%;
	padding-left: 1em;
}
/*
#projectForm a{
	text-decoration: none;
	color: black;
	font-size: 13px;
}*/
.cancelButton{
	text-decoration: none;
	color: black;
	font-size: 13px;
}
.cancelButton:hover{
	text-decoration: underline;
}
/*priorityForm*/
.todoMenuButton{
	/*width: 30px;*/
	display: inline-block;
	margin-left: 30%;
	cursor: pointer;
}
.todoMenuButton div{
	height:3px; width: 3px;
	background-color: grey;
	float: left;
}
.todoMenuButton div:not(:last-child){
	margin-right: 3px;
}
.todoMenu{

	width: 50%;
	position: absolute;
	right: 0;
	background-color: white;
	border-radius: 5px;
	padding: 1em;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.4);
	display: none;
}
.priorityOptions p{
	font-size: 12px;
	color: grey;
}
.wrapper{
	margin-top: 0.5em;
}
.wrapper::after{
	display: table;
	content: "";
	clear:both;
}
.priorityOption {
    height: 1em;
    width: 1em;
    float: left;
    cursor: pointer;
}
.wrapper div:not(:last-child) {
    margin-right: 1.5em;
}
.statusWrapper, .taskWrapper, .todoMenuWrapper, .scheduleWrapper{
	display: inline-block;
	box-sizing: border-box;
}
.scheduleWrapper{
	width: 20%;
	text-align: right;
}
.scheduleWrapper p{
	font-size: 10px;
	/*color:grey;*/
}
.statusWrapper{
	vertical-align: top;
	width:10%;
	/*padding-left: 5%;*/
}
.taskWrapper{
	width:60%;
}
.taskWrapper p{
	font-size: 12px;
}
.todoMenuWrapper{
	width:10%;
}
#Inbox{
	margin-top: 1.3em;
}
#Today{
	margin-top: 1em;
}
#Inbox, #Today{
	margin-left: 2em;
	cursor:pointer;
}
#Inbox i, #Inbox p{
	display: inline-block;
}
#Inbox i{
	vertical-align: bottom;
}
.formTaskInput{
	width: 55%;
	font-size: 12px;
}
.formDateInput{
	width:29%;
	/*new*/
	margin-right: 6%;
}
.red{
	color:red;
}
.grey{
	color: grey;
}
.bubble{
	width:2em;
	height:2em;
	border-radius: 16px;
	display: inline-block;
	margin-right: 1em;
	cursor: pointer;
}
.bubble:last-child{
	margin-right: 0;
}
#color1{
	background-color: var(--color1); 
}
#color2{
	background-color: var(--color2); 
}
#color3{
	background-color: var(--color3); 
}
#color4{
	background-color: var(--color4); 
}
#color5{
	background-color: var(--color5); 
}
#color6{
	background-color: var(--color6);
}
#themeWrapper{
	margin-top: 1em;
}
#themeWrapper p{
	font-size: 14px;
    margin-bottom: 1em;
    color: grey;
}
/* <= 400px*/
/*}  end of media query 450px*/

/* for desktop 
.taskStatus:hover{
	background-color: #B2B5BE;
}

*/

@media only screen and (min-width: 600px){
	header{
	background-size: cover;
	background-position-y: -30px;
	}
	header #project{
		font-size: 2em;
	}

}

@media only screen and (min-width: 700px){
	#menu{
		display: block;
		position: relative;
		height:100%;
		/*box-shadow: 0px 0px 6px #888888;*/
		box-shadow: 0px -10px 2px #888888;
		overflow-y: unset;
		width:100%;
	}
	.left-column{
		width:30%;
		float: left;
		height:100%;
	}
	.right-column{
		width:70%;
		float:left;
		height:100%;
	}
	.row::after{
		display: table;
		content: "";
		clear:both;
	}
	#menu-button{
		display: none;
	}
	#logo{
		display: block;
	}

}