:root{
	--navbar-color: orange;
	--p4: grey;
	--p3: yellow;
	--p2: orange;
	--p1: red;
}

/*mobile design*/
@media only screen and (max-width: 450px){

body{
	padding:0px;
	margin:0px;
	width:100%;
}
p{
	padding:0;margin:0;
}
header, #list li{
	padding-left: 5%;
}
header{
	color: white;
	
	background-image: url(assets/mountains2.jpeg);
	background-repeat:  no-repeat;
	background-size: 100% 100%;
	padding-top: 6em;/*3*/
	padding-bottom: 1em;
	background-position-y: 40px;
	
}

header #project{
	margin-top: 0px;
	font-size: 1em;
	margin-bottom: 0px;
}
header #date{
	font-size: 1em;
}
#AddTaskButton{
	font-size: 30px;
	background-color: #5178F0;
	text-align: center;
	width:40px;
	height:40px;
	position: fixed;
	bottom: 5%;
	right:5%;
	color:white;
	border-radius: 20px;
	cursor: pointer;
}
#taskForm{
	margin-left: 2em;
	margin-bottom: 4em;
}
#selectPriority{
	margin-left: 24%;
}
#list{
	list-style: none;
	margin-top: 0px;
	padding-left: 0px;
}
#list li{
	font-size: 1em;
	background-color: white;
	border-bottom: 1px solid #DCDBDA;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
	
}

.taskStatus{
	width:15px;height:15px;
	margin-right: 1em;
	border:1px solid grey;
	border-radius: 10px;
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
}
.taskStatus:hover{
	background-color: #B2B5BE;
}
.clearfix{
	overflow: auto;
}
.todo p{
	display: inline-block;
	font-size: 15px;
	vertical-align: middle
}
.todo p+p{
	font-size: 12px;
	color: grey;
}
.navbar {
    width: 100%;
    background-color: var(--navbar-color);
    position: fixed;
    height: 2.5em;
    z-index: 2;
}
#menu h4{
	margin-left: 2em;
	text-decoration: underline;
}
#menu-button{
	width: 50px;
	cursor: pointer;
	padding-top: 0.7em;
	padding-bottom: 0.7em;
}
#menu-button div:nth-child(-n+3) {
    width: 1.5em;
    height: 2px;
    background-color: white;
    margin-top: 4px;
    margin-left: 1em;
}
#menu{
	/*background-color: white;
	color:black;
	width:100%;
	display: none;*/
	background-color: white;
color: black;
width: 97%;
display: none;
box-shadow: 5px 7px 10px #888888;
position: fixed;
padding-top: 2.5em;
overflow: auto;
height:640px;
z-index: 1;
}
#menu ul{
	list-style: none;
}
#menu ul li{
	padding-top: 8px;
	padding-bottom: 8px;
	cursor: pointer;
}
#menu ul, #AddProject{
	padding-left: 2.5em;
}
#AddProject{
	color: var(--navbar-color);
}
#AddProject span{
	font-weight: bold;
	cursor: pointer;
}
#AddProject a{
	margin-left: 1em;
	text-decoration: none;
	color: var(--navbar-color);
	font-size: 15px;
}
#AddProject a:hover{
	text-decoration: underline;
}
#projectForm{
	padding-left: 2em;
	margin-right: 2em;
}
.p1Color{
	border:2px solid var(--p1);
	background-color:rgb(219, 26, 52,0.2);
}
.p2Color{
	border:2px solid var(--p2);
	background-color:rgb(244, 166, 9,0.2);
}
.p3Color{
	border:2px solid var(--p3);
	background-color:rgb(249, 249, 84,0.2);
}
.p4Color{
	border:2px solid var(--p4);
	background-color:rgb(229, 229, 222,0.2);
}
.formButton{
	background-color: var(--navbar-color);
	color:white;
	border: none;
	margin-top: 0.5em;
	margin-right: 1em;
	margin-bottom: 2em;
	border-radius: 5px;
	padding: 0.7em 0.8em 0.7em 0.8em;
	font-weight: bold;
	cursor:pointer;
	font-size: 13px;
}
/*
#projectTextBox{
	height: 35px;
	border: 0.5px solid rgb(211, 205, 205);
	border-radius: 4px;
	width: 80%;
	padding-left: 1em;
}*/
.formTextInput{
	height: 35px;
	border: 0.5px solid rgb(211, 205, 205);
	border-radius: 4px;
	width: 90%;
	padding-left: 1em;
}
/*
#projectForm a{
	text-decoration: none;
	color: black;
	font-size: 13px;
}*/
.cancelButton{
	text-decoration: none;
	color: black;
	font-size: 13px;
}
.cancelButton:hover{
	text-decoration: underline;
}
/*priorityForm*/
.todoMenuButton{
	width: 30px;
	display: inline-block;
	/*margin-left: 30%;*/
	cursor: pointer;
}
.todoMenuButton div{
	height:5px; width: 5px;
	background-color: grey;
	float: left;
}
.todoMenuButton div:not(:last-child){
	margin-right: 3px;
}
.todoMenu{

	width: 50%;
	position: absolute;
	right: 0;
	background-color: white;
	border-radius: 5px;
	padding: 1em;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.4);
	display: none;
}
.priorityOptions p{
	font-size: 12px;
	color: grey;
}
.wrapper{
	margin-top: 0.5em;
}
.wrapper::after{
	display: table;
	content: "";
	clear:both;
}
.priorityOption {
    height: 1em;
    width: 1em;
    float: left;
    cursor: pointer;
}
.wrapper div:not(:last-child) {
    margin-right: 1.5em;
}
.statusWrapper, .taskWrapper, .todoMenuWrapper{
	display: inline-block;
	box-sizing: border-box;
}
.statusWrapper{
	vertical-align: top;
	width:10%;
	/*padding-left: 5%;*/
}
.taskWrapper{
	width:80%;
}
.todoMenuWrapper{
	width:10%;
}

/* <= 400px*/
}